n8n_workflow.json
{
  "name": "Dental Clinic AI Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://YOUR_N8N_DOMAIN/webhook/clinic-ai",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  event: $json[\"event\"],\n  payload: $json[\"payload\"]\n}];"
      },
      "name": "Prepare AI Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "options": {
          "bodyContentType": "json",
          "jsonParameters": true,
          "body": {
            "model": "gpt-4o-mini",
            "messages": [
              {
                "role": "system",
                "content": "You are an AI assistant for a dental clinic management system. Perform actions like creating patient records, confirming appointments, etc."
              },
              {
                "role": "user",
                "content": "{{ $json.payload }}"
              }
            ]
          },
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Authorization",
                "value": "Bearer YOUR_OPENAI_API_KEY"
              }
            ]
          }
        }
      },
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const result = $json.choices[0].message.content;\nreturn [{ result }];"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "resource": "record",
        "table": "ai_logs",
        "additionalFields": {
          "event_type": "{{ $json.event }}",
          "payload": "{{ $json.payload }}"
        }
      },
      "name": "Insert AI Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Prepare AI Request", "type": "main", "index": 0 }]
      ]
    },
    "Prepare AI Request": {
      "main": [
        [{ "node": "Call OpenAI", "type": "main", "index": 0 }]
      ]
    },
    "Call OpenAI": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [
        [{ "node": "Insert AI Log", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {}
}
