n8n_services_workflow.json
{
    "name": "جلب الخدمات من Supabase",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger-1",
            "name": "بداية يدوية",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "services",
                "returnAll": true,
                "options": {}
            },
            "id": "supabase-1",
            "name": "جلب الخدمات",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Supabase Dental Clinic"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// تحويل البيانات لصيغة مناسبة للعرض\nconst services = $input.all();\n\nreturn services.map(item => ({\n  json: {\n    الرقم: item.json.id,\n    اسم_الخدمة: item.json.name,\n    الوصف: item.json.description || 'لا يوجد وصف',\n    السعر: item.json.price + ' ريال',\n    تاريخ_الإضافة: new Date(item.json.created_at).toLocaleDateString('ar-EG')\n  }\n}));"
            },
            "id": "code-1",
            "name": "تنسيق البيانات",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "بداية يدوية": {
            "main": [
                [
                    {
                        "node": "جلب الخدمات",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "جلب الخدمات": {
            "main": [
                [
                    {
                        "node": "تنسيق البيانات",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}